


//colors
$white: #fff;
$green: #00C993;
$blue: #006fba;
$grey:#F7F7F7;
$paraColor: #919293;

//type
$ibm: 'IBM Plex Mono', monospace;
$rak: 'Rakkas', cursive;
$far: 'Farsan', cursive;
$mina: 'Mina', sans-serif;
$ubu: 'Ubuntu', sans-serif;
$play: 'Playfair Display SC', serif;
$prompt: 'Prompt', sans-serif;


//properties
$hoverPad: 12px;
